<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/recursos/style.css">
</head>
<body>
    
        <h1>Counter</h1>
        <h2><%= contador %></h2>
        <br>
        <form action="/suma" method="POST">
            <input type="submit" value="+2">
        </form>
        <form action="/reinicio" method="POST">
            <input type="submit" value="reinicio">
        </form>
</body>
</html>